doctype html
html
    include template.pug
    body
        main
            div(class='box') Information Retrieval/Extraction
            div(class='box') Web/Big Data Mining
            div(class='box') Bioinformatics
        include footer.pug
    
