doctype html
html
    include template.pug
    body
        div(class='content')
            div(class='box') Information Retrieval/Extraction
            div(class='box') Web/Big Data Mining
            div(class='box') Bioinformatics
        include footer.pug
    
