html
    head
        meta(content='text/html; charset=uft-8' http-equiv='Content-Type')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type="text/css", href='css/style.css')
        //- link(rel="stylesheet", type="text/css", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        //- script(src='all.js')
    body
        div(class='header')
            h1 Information Knowledge Management Lab
            ul(class='nav-bar')
                each nav in ['Home', 'About', 'Members', 'Research', 'Contact', 'Related Links']
                    li(class='nav')
                        a(href="/"+nav.toLowerCase())= nav
