@import './Variable.module';
.toolbar {
    height: 56px;
    background-color: $main-color;
    justify-content: space-between;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-areas: "icon1 logo .";
    @media only screen and (min-width: 800px) {
        grid-template-columns: 120px repeat(4, minmax(12%, 12%)) 50%;
        grid-template-areas: "logo hotbar hotbar hotbar hotbar .";
    }
}

.menu-icon {
    display: none;
    @media only screen and (max-width: 800px) {
        display: flex;
        min-height: 90%;
        font-size: 18px;
        grid-area: icon1;
    }
    &:hover {
        background-color: unset;
    }
}

.logo-link {
    grid-area: logo;
    align-self: center;
    justify-self: center;
    .logo {
        height: auto;
        width: 100px;
    }
}

.drawer-paper {
    background-color: #424242;
    .list {
        width: 250px;
        &-item- {
            &divider {
                background-color: rgba(255, 255, 255, 0.2);
            }
            &icon,
            &text {
                color: #fff;
            }
        }
    }
}

.list-hotbar {
    padding: {
        top: 0px;
    }
    display: flex;
    .hotbar {
        width: auto;
        height: 64px;
        border-radius: 0px;
        vertical-align: baseline;
        &:hover {
            background-color: #3b3a3a;
            text-decoration: none;
        }
        @media only screen and (max-width: 800px) {
            display: none;
        }
        &-icon {
            color: #fff;
        }
        &-text {
            padding-left: 5px;
            font-size: 18px;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
}