@import './Variable.module';

.toolbar {
  background-color: rgb(246, 176, 50);
  padding: {
    bottom: 10px;
    left: 18px;
    right: 18px;
    top: 10px;
  }

  @media screen and (min-width: $sm) {
    padding: {
      bottom: 18px;
      left: 36px;
      right: 36px;
      top: 18px;
    }
  }

  .toolbar-logo {
    text-align: center;

    .logo {
      height: auto;
      width: 170px;
    }
  }

  .toolbar-lab-name {
    align-items: center;
    display: inline-flex;
    font-size: 32px;
    justify-content: center;
    text-align: center;

    @media screen and (min-width: $md) {
      justify-content: flex-start;
    }
  }

  .toolbar-link {
    align-items: center;
    display: inline-flex;
    justify-content: center;

    @media screen and (min-width: $md) {
      justify-content: flex-end;
    }

    .link {
      color: rgb(255, 255, 255);
      font-size: 18px;
      margin: 12px;
    }
  }
}
