@import './Variable.module';

.research-section {
  align-items: flex-start;
  justify-content: center;

  padding: {
    bottom: 20px;
    left: 40px;
    right: 40px;
    top: 20px;
  }

  &-title {
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
  }

  .research-time-filter {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .time-filter {
      margin-top: 20px;
      width: 100%;

      @media screen and (min-width: $sm) {
        width: 500px;
      }
    }
  }

  .research-topic-filter {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;

    .topic-filter {
      background-color: #c6eafd;
      margin: 5px;

      svg {
        color: darken(#c6eafd, 50%);
      }
    }
  }

  .research-subfield-filter {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1000px;
    margin: {
      bottom: 10px;
      left: auto;
      right: auto;
    }

    .subfield-filter {
      margin: 5px;
    }
  }

  .research {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: {
      bottom: 20px;
      left: 5px;
      right: 5px;
    }

    &-title {
      font-weight: 700;
      margin: {
        bottom: 0;
        top: 5px;
      }
    }

    &-tags {
      padding: 8px;
      width: 100%;

      .research-tag {
        &-author {
          margin: 5px;
        }

        &-venue {
          background-color: #c8f2b7;
          margin: 5px;

          svg {
            color: darken(#c8f2b7, 50%);
          }
        }

        &-year {
          background-color: #f7e7bc;
          margin: 5px;

          svg {
            color: darken(#f7e7bc, 40%);
          }
        }

        &-topic {
          background-color: #c6eafd;
          margin: 5px;

          svg {
            color: darken(#c6eafd, 50%);
          }
        }

        &-subfield {
          margin: 5px;
        }

        &-link {
          background-color: #000;
          color: #fff;
          margin: 5px;

          svg {
            color: #fff;
          }
        }
      }
    }
  }

  .research-page {
    justify-content: center;
    margin: {
      bottom: 20px;
      top: 20px;
    }
  }

  @media screen and (min-width: $md) {
    padding: {
      bottom: 20px;
      left: 100px;
      right: 100px;
      top: 20px;
    }
  }
}
